In [1]:
import psycopg2
import pandas as pd

In [2]:
def execute_query_to_dataframe(query, params=None):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a pandas DataFrame.

    Args:
        query (str): The SQL query to execute.
        params (tuple, optional): Parameters to pass into the SQL query. Defaults to None.

    Returns:
        pd.DataFrame: The query results as a DataFrame.
    """
    # Update the connection details
    db_config = {
        "host": "localhost",
        "database": "northwind-replication",
        "user": "northwind_user",
        "password": "thewindisblowing",
        "port": 5433
    }

    connection = None
    try:
        # Establish connection
        connection = psycopg2.connect(**db_config)

        # Use pandas to execute the query and return results
        df = pd.read_sql_query(query, connection, params=params)
        return df

    except Exception as e:
        print(f"Error: {e}")
    finally:
        # Ensure the connection is closed
        if connection:
            connection.close()

    return None

In [3]:
# Example Usage
query = """
SELECT 
    od.order_id,
    od.product_id,
    od.unit_price,
    od.quantity,
    od.discount,
    o.customer_id,
    o.employee_id,
    o.order_date,
    o.required_date,
    o.shipped_date,
    o.ship_via,
    o.freight,
    o.ship_name,
    o.ship_address,
    o.ship_city,
    o.ship_region,
    o.ship_postal_code,
    o.ship_country
FROM 
    order_details AS od
INNER JOIN 
    orders AS o
ON 
    od.order_id = o.order_id;
"""

params = ("value",)  # Replace with your parameter if needed

df = execute_query_to_dataframe(query, params)
if df is not None:
    display(df)  # Display the DataFrame in Jupyter Notebook
else:
    print("No results or an error occurred.")

/tmp/ipykernel_14444/1630791760.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection, params=params)

,order_id,product_id,unit_price,quantity,discount,customer_id,employee_id,order_date,required_date,shipped_date,ship_via,freight,ship_name,ship_address,ship_city,ship_region,ship_postal_code,ship_country
0,10271,33,2,24,0,SPLIR,6,1996-08-01,1996-08-29,1996-08-30,2,4.54,Split Rail Beer & Ale,P.O. Box 555,Lander,WY,82520,USA
1,10410,33,2,49,0,BOTTM,3,1997-01-10,1997-02-07,1997-01-15,3,2.4,Bottom-Dollar Markets,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada
2,10306,54,5.9,5,0,ROMEY,1,1996-09-16,1996-10-14,1996-09-23,3,7.56,Romero y tomillo,"Gran VÃ­a, 1",Madrid,,28001,Spain
3,10307,62,39.4,10,0,LONEP,2,1996-09-17,1996-10-15,1996-09-25,2,0.56,Lonesome Pine Restaurant,89 Chiaroscuro Rd.,Portland,OR,97219,USA
4,10775,10,31,6,0,THECR,7,1997-12-12,1998-01-09,1997-12-26,1,20.25,The Cracker Box,55 Grizzly Peak Rd.,Butte,MT,59801,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,11077,52,7,2,0,RATTC,1,1998-05-06,1998-06-03,,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA
2151,11077,55,24,2,0,RATTC,1,1998-05-06,1998-06-03,,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA
2152,11077,60,34,2,0.06,RATTC,1,1998-05-06,1998-06-03,,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA
2153,11077,64,33.25,2,0.03,RATTC,1,1998-05-06,1998-06-03,,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA
2154,11077,66,17,1,0,RATTC,1,1998-05-06,1998-06-03,,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA